
@font-face {
    font-family: "roca";
    src: url(roca-one-bold/roca-one-bold.ttf);
    font-style: normal;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000; /* stays above content!!!!!!!! */
    width: 100%;
    background-color: var(--third-color);
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 20px;
    margin: 0;
    padding: 0 35px;
}

nav li:last-child {
    margin-left: auto;
}

nav li :hover {
    transition: 100ms ease;
    scale: 1.05;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'roca', 'Times New Roman', Times, serif;
    color: var(--primary-color);
    text-shadow: 1.5px 0px 0px black;
}

:root {
    --base-color: #ffc2c2;
    --primary-color: #fff27d;
    --secondary-color: #fff5ec;
    --third-color: #ffc2c1;
    --black: #000000;
}

h1{
    font-family: 'roca','Times New Roman', Times, serif;
    font-size: 165px;
    color: var(--primary-color);
    text-shadow: 2px 1px 2px var(--black);
}

body {
    margin: 0;
    padding: 0;
    background: var(--secondary-color);
}
img {
    width: 100vw;
    height: auto;
}

.centered-text {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0%, -100%);
    text-align: center;
    line-height: 1;
    
}

.title-top {
    position: relative;
}

h3 {
    font-family: 'roca','Times New Roman', Times, serif;
    color: black;
    text-shadow: none;
    font-size: 65px;
}

.instructions {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: rotate(-3deg) translate(-18%, 140%);
    text-align: center;
    line-height: 1;
    
}

.notes-container {
    display:grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(autofill, 1fr);
    margin: .5em;

}

.notes-container img{
    scale: 85%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.notes-container img:hover{
    transition: 100ms ease;
    transform: rotate(-2deg);
}

.notes-container img:not(:hover){
    transition: 100ms ease;
}

h1:hover {
    transition: 100ms ease;
    transform: rotate(-2deg);
}

h1:not(:hover) {
    transition: 100ms ease;
}

input {
    font-family: 'roca','Times New Roman', Times, serif;
    padding:1em;
    border-radius: 2em;
}

button {
    font-family: 'roca','Times New Roman', Times, serif;
}

button:hover {
    transition: 100ms ease;
    scale: 1.05;
}

@media only screen and (min-width: 0px) and (max-width:1024px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 20px;
    }

    nav ul {
        gap: 1em;
    }

}